.articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 10px;
    height: auto;
}
.article-img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.intro a{
    display: inline-block;
    background-color: rgba(93, 120, 150, 0.623);
    border-radius: 5px;
    text-align: justify;
    padding: 10px;
    opacity: 1;
}
.articles a:hover{
    opacity: 0.85;
}